html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

#viewport-container {
    flex: 1;
    margin: 0;
    background-color: darkgray;
}

#main {
    height: 100%;
    display: flex;
    flex-flow: column;
}

#launchForm {
    padding: 1rem;
    line-height: 1.5rem;
}