<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Game Lobby</title>
    <link rel="stylesheet" type="text/css" href="home.css">
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header"> Gorillamatics </div>
    <div class="container">
        <form>
            <div>
                <input type="text" id="name" name="name" value="Enter your name"><br><br>
            </div>
            <div>
                <input type="text" id="code" name="code" value="Enter the Code"><br><br>
            </div>
        </form>
    </div>
    <div>
        <button id="join-button" type="button">Join a Game</button>
        <div class="line"> .</div>
        <button id="start-button" type="button">Start a Game</button>
    </div>
</body>
<script type="text/javascript" src="home.js"></script>

</html>