<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Game Lobby</title>
        <link rel="stylesheet" type="text/css" href="lobby.css">
        <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div id="logo-box">
                <img id="logo" src="./images/logo.png" alt="GorillaMatics Logo">
                <div id="code-box">
                    <p id="code"></p>
                    <div id="button-box">
                        <button id="lobby-button" type="button"></button>
                        <div id="players-list">
                            <p>
                                <div class="players-joined">Players joined: <br></div>
                                <p id="foo">
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="lobby.js"></script>
</html>
